<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/game.css}" rel="stylesheet" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/momentjs/2.18.1/min/moment.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery.countdown/2.2.0/dist/jquery.countdown.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/game.js}" type="text/javascript"></script>

    <title>IT Security Training - Escape Game #1 for Apologic</title>
</head>
<body class="background-dark">
    <div class="fixed-top">
        <div class="row mt-5 justify-content-end">
            <div class="col-3 text-center">
                <h1 class="display-1 clock" id="clock"></h1>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div id="console"></div>
                <form id="inputForm" class="form-inline" onsubmit="return onInput()">
                    <span class="userhost">root@apologic-pc021</span><span class="sep">:</span>
                    <span class="dir">/usr/local/bin</span><span class="sep">$</span>&nbsp;
                    <span class="input">
                        <input type="text" id="passphrase" class="form-control background-dark input input-text" autocomplete="off" size="35" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</body>
</html>